<header class="home-header">
	<div class="home-header__container container">
		<h1 class="home-header__title title title-lg">{{post.get_field('greeting_title')}}</h1>
		<h2 class="title title-sm">{{post.get_field('greeting_subtitle')}}</h2>
	</div>
</header>