<header class="home-header">
	<div class="home-header__container container">
		{{
			siteMacros.headerContent(
				post.title,
				post.get_field('greeting_subtitle'),
				post.get_field('greeting_button_text')
			)
		}}
		<div class="home-header__quote">{{post.get_field('greeting_quote')}}</div>
	</div>
</header>