<section class="section home-project">
	<div class="container">
		<div class="row home-project__row">
			<div class="col-12 col-xs-6 col-md-5 home-project__image">
				<div class="parallax-image">
					<img src="{{post.get_field('project_image')}}" alt="{{post.get_field('project_title')|striptags}}">
				</div>
			</div>
			<div class="col-12 col-xs-6 col-md-7">
				<h3 class="title title-lg">{{post.get_field('project_title')}}</h3>
				{% if post.get_field('project_button_enable') %}
					<a href="#" class="btn btn_lg btn_border-white effect effect_bounce-top">{{post.get_field('project_button_text')}}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>