.person
	text-align: center
	
	&__header
		+r()
		+d(inline-block)
		+size(150px)
		+mb(5px)

		+min(sm)
			+size(200px)
			+mb(15px)

		+min(md)
			+size(225px)

	&__description
		
		font-size: 14px
		text-align: center

		+max(sm)
			padding: 10px 5px
			+bgc($color-general)
			margin-top: 10px

		+min(sm)
			+d(flex)
			align-items: center
			justify-content: center
			
			+a(0, null, null, 0)
			+size(100%)
			padding: 15px
			+bgc($color-brand-1)
			
			transform: translate(-50%, -250%)
			+transition()
			overflow: hidden
			
			font-size: 18px
			+fw(900)
			+c($color-white)
			

		+min(md)
			left: 50%
			+size(225px)

	+min(sm)
		&:hover &__description
			transform: translate(-50%, 0)

	&__image
		+size(100%)
		object-fit: cover
		

	&__title
		+fw(900)

	&__position
		+fs(14px)