.home-create
	+r()
	+px(15px)

	&_2
		overflow: hidden

		+min(md)
			margin-top: -17vmax

		+min(lg)
			margin-top: -20vmax

	&__subtitle
		+fw(300)

	&__links
		+mt(30px)
		+min(sm)
			+mt(45px)
		+fs(0)
		a
			+d(inline-block)
			vertical-align: middle
			+offset('r', 15px)
			+max(md)
				+min(sm)
					+offset('b', 15px)
		img
			+h(40px)
			+transition()
			+min(sm)
				+h(65px)

			&:hover
				transform: scale(1.1)

	&__body
		+max(sm)
			text-align: center

	&__warning
		+mt(30px)

		+min(xs)
			+mt(60px)

		+min(sm)
			+mt(150px)

		+min(sm)
			+mt(300px)

		&-title
			+d(inline-block)
			+c($color-general)
			+bgc($color-gray)
			+fs(22px)
			+fw(900)
			text-transform: uppercase
			min-width: 170px
			text-align: center

			+min(sm)
				+fs(30px)
				min-width: 250px

		&-note
			+mt(10px)
			+c($color-general)

	&_1 &
		&__row
			+min(sm)
				justify-content: flex-end
		&__image
			+min(sm)
				+r(null, null, null, -32%)
		&__body
			
			+min(sm)
				text-align: right
				max-width: 35%
				+a(50%, 5%)
				transform: translateY(-50%)

	&_2 &
		&__image
			+min(sm)
				width: 80%
				+r(null, -35%)
		&__body
			+min(sm)
				max-width: 35%
				+a(50%, null, null, 5%)
				transform: translateY(-50%)