.home-header
	+max(sm)
		+pt(8vh)
	+min(sm)
		+d(flex)
		+h(100vh)
		min-height: 400px
		justify-content: center
		align-items: center
		text-align: center

	strong
		display: inline-block
		color: $color-general
		background-color: $color-gray
		padding: 10px 15px